{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning",
      "Microsoft.EntityFrameworkCore": "Information",
      "Microsoft.EntityFrameworkCore.Database.Command": "Debug"
    }
  },
  "ConnectionStrings": {
    "Supabase": "Host=localhost;Port=5432;Database=sigac_dev;Username=postgres;Password=YOUR_PASSWORD;SSL Mode=Disable"
  }
}
